header {
    text-align: center;
  }
  
  header img {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
  }
  
  header h1 {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 4rem;
    color: #4B5320;
    padding-bottom: 0;
    padding-top: 0.1em;
  }

  header p {
    margin: 0;
    font-size: 1.25rem;
    color: white;
  }


  .git-btn {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    background-color: #6e5494;
    color: white;
    border-color: #6e5494;
    margin-top: 30px;
    font-size: 1.2rem;
  
  }

  .git-btn:hover {
    transform: scale(1.05);
    background-color: #6e5494;
    color: white;
    border-color: #6e5494;
  }

  .git-btn a {
    text-decoration: none;
  } 
  .header-container { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-text, .anchor-text {
    font-size: 1.5rem;
  }

  .title-text {
    margin-right: 15rem;
  }

  .anchor-text {
    text-align: right;
  }

  .title-handle {
    color: black;
    font-size: 2rem;
    font-family: "Helvetica Neue", sans-serif;
    color: #4B5320;
    margin-bottom: 20px;
  }