header {
    text-align: center;
    border-bottom: 1px solid #dadce0;
  }
  
  header img {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
  }
  
  header h1 {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    color: #4B5320;
  }
  
  header p {
    margin: 0;
    font-size: 1.25rem;
    color: black;
    font-family: "Open Sans", sans-serif;
  }

  .header-container { 
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-text {
    margin-right: 10rem;
  }
