.navigation-container {
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align: center;
  
}

.navBarScrolled {
  opacity: 0.8;
  background-color: white;;
}

.navBarScrolled .nav-item a {
  opacity: 0.8;
  color: black;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.nav-item {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.nav-item a:hover {
  font-weight: bold;
}

.nav-item a {
  color: white;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  letter-spacing: 1px;
}


