@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Helvetica Neue", sans-serif;
}

html {
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(white, whitesmoke);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border: 0;
}

.gradient-background {
  background: linear-gradient(
    300deg,
    #435334,
    #71835c,
    #9eb384,
    #bed0aa,
    #bed0aa,
    #9eb384,
    #71835c,
    #435334
  );
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}

body {
  margin: 0;
  /*background-color: #0d1117;*/
}

body .content {
  scroll-behavior: smooth;
  overflow: auto;
  margin: 0 auto;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 1px solid #dadce0;
}
