@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");



html {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(white, whitesmoke);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body .content {
  scroll-behavior: smooth;
  overflow: auto;
  margin: 0 auto;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 1px solid #dadce0;
}
